.tarolo {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
.fejlec {
  background-image: url(images/hero.jpg);
  height: 100vh;
  background-size: cover;
}
.menu ul {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color:white;
  border-radius: 22px;
  padding: 20px;
  background-color: orange;
}
h1 {
  text-align: center;
  color: white;
}
p {
  color: white;
  text-align: center;
}
.keresemacicam {
  color: white;
  background-color: orange;
  border-radius: 22px;
  height: 22px;
  text-align: center;
  max-width: 80%;
}
.masodikoldal ul{
  grid-template-columns: 1fr 1fr;
  display: grid;
  background-color:orange;
  border-radius: 22px;
  padding: 20px;
}
